<head>
  <link rel="stylesheet" href="../css/standard.css">
</head>

<ion-view title="BuzzedFeed" id="page3">
  <ion-content padding="true" class="has-header">

    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Drink Search" id="searchedDrink">
    </label>

    <button ng-click="searchDrink()" class="button button-block"> Search </button>

    <button ng-click="allFavDrink()" class="button button-small"> Show Favorites </button>

    <button ng-click="allDrink()" class="button button-small"> Show All </button>

    <br>
    <br>
    <br>

    <div id="drink_label" style="display:none">
      <h4>{{drink}}</h4>
    </div>

    <br>

    <div id="rate_btn" style="display:none">
    <span ng-repeat="num in [1,2,3,4,5]">
      <a ng-click="rate(num)"> 
        <span ng-if="num>rating">
          <i class="icon ion-ios-star-outline placeholder-icon"></i>
        </span>
        <span ng-if="num<=rating">
          <i class="icon ion-ios-star placeholder-icon"></i>
        </span>
      </a>
    </span>
    </div>

    <br>

    <div id="favorite_label" style="display:none">Favorited: {{favorited}}</div>

    <div id="favorite_btn" style="display:none">
      <button ng-click="faveDrink()" class="button button-small"> Favorite </button>
    </div>

    <div id="unfavorite_btn" style="display:none">
      <button ng-click="unfaveDrink()" class="button button-small"> Unfavorite </button>
    </div>

    <br>

    <div id="details_btn" style="display:none">
      <button ng-click="getIngredients()" class="button button-small"> Ingredients </button>
    </div>

    <div id="ingredients_block">
      <ul>
        <li ng-repeat="ingredient in ingredients">
          <span>{{ingredient.name}} - {{ingredient.owns}}</span>
        </li>
      </ul>
    </div>

    <ul>
      <li ng-repeat="displayed_drink in drink_list">
        <span>{{displayed_drink}}</span>
      <li>
    </ul>

  </ion-content>
</ion-view>
