<ion-view title="Drinks" id="page3">
  <ion-content padding="true" class="has-header">
    <ul style="list-style-type:disc">
      	<li ng-repeat="recipe in drink">
    		<span>{{recipe}}</span>
            <!-- Edit remaining amount -->
            <!-- Delete drink -->
    	</li>
    </ul>

    <input type="text" id="searchedDrink">

    <button ng-click="searchDrink()"> Search </button> 

    <input type="text" id="rateDrink">

    <input type="number" id="rateScore">

    <button ng-click="rate()"> Rate </button> 

    <input type="text" id="favDrink">

    <button ng-click="faveDrink()"> Favorite </button> 

    <input type="text" id="unfavDrink">

    <button ng-click="unfaveDrink()"> Unfavorite </button> 

    <br>

    <button ng-click="allFavDrink()"> Show Favorites </button>

    <br>

    <button ng-click="allDrink()"> Show All </button>

    <!-- Need to prompt for amount as well -->

    <!-- Search for drink, see ingredients -->

  </ion-content>
</ion-view>
