<ion-view title="Login" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="login-form6" class="list">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input8">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input9">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
    </form>
  </ion-content>
</ion-view>
