<head>
  <link rel="stylesheet" href="../css/standard.css">
</head>

<ion-view title="BuzzedFeed" id="page4">
  <ion-content padding="true" class="has-header">
    <div id="recommendations_label">
      <button class="button button-block button-calm" ng-click="give_recommendations()">Recommend Me Drinks!</button>
    </div>

    <div id="recommendations_block">
    	<ul>
    		<li ng-repeat="drink in recommendations">
    			<span>{{drink}}</span>
    		</li>
    	</ul>
    </div>
  </ion-content>
</ion-view>
