<script src="js/md5.min.js"></script>
<ion-view title="Register Survey" id="page4">
  <ion-content padding="true" class="has-header">
  <ion-list id="login-list2">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" placeholder="" id="userrr">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" placeholder="" id="passss">
        </label>
      </ion-list>
    <form id="registerSurvey-form7" class="list">
      <label class="item item-input" id="registerSurvey-textarea1">
        <span class="input-label">Whiskey</span><textarea placeholder=""></textarea></label>
      <ion-item class="range range-positive" id="registerSurvey-range1">Rating
        <input type="range" value="3" min="1" max="5" step="1">
      </ion-item>
      <label class="item item-input" id="registerSurvey-textarea2">
        <span class="input-label">Gin</span><textarea placeholder=""></textarea></label>
      <ion-item class="range range-positive" id="registerSurvey-range8">Rating
        <input type="range" value="3" min="1" max="5" step="1">
      </ion-item>
      <label class="item item-input" id="registerSurvey-textarea3">
        <span class="input-label">Vodka</span><textarea placeholder=""></textarea></label>
      <ion-item class="range range-positive" id="registerSurvey-range9">Rating
        <input type="range" value="3" min="1" max="5" step="1">
      </ion-item>
      <label class="item item-input" id="registerSurvey-textarea4">
        <span class="input-label">Tequila</span><textarea placeholder=""></textarea></label>
      <ion-item class="range range-positive" id="registerSurvey-range6">Rating
        <input type="range" value="3" min="1" max="5" step="1">
      </ion-item>
      <label class="item item-input" id="registerSurvey-textarea5">
        <span class="input-label">Schnapps</span><textarea placeholder=""></textarea></label>
      <ion-item class="range range-positive" id="registerSurvey-range7">Rating
        <input type="range" value="3" min="1" max="5" step="1">
      </ion-item>
      <button ng-click="register()" id="registerSurvey-button6" class="button button-positive  button-block">Submit</button>
    </form>
  </ion-content>
</ion-view>