<head>
  <link rel="stylesheet" href="../css/standard.css">
</head>

<ion-view title="BuzzedFeed" id="page2">
  <ion-content padding="true" class="has-header">
    <!-- <ul style="list-style-type:disc">
    	<li ng-repeat="drink in stock">
    		<span>{{drink}}</span>
    	</li>
    </ul> -->

    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Ingredient Search" id="searchedIngredient">
    </label>

    <button ng-click="searchIngredient()" class="button button-block"> Search </button>

    <button ng-click="getStock()" class="button button-small"> My Stock </button>
    <button ng-click="listAllIngredients()" class="button button-small"> List All Ingredients </button>

    <div id="ingredient_label" style="display:none">
      <h4>{{currentIngredient.name}}</h4>
      <h5>{{currentIngredient.ammount}} L</h5>
    </div>

    <!-- <input type="text" id="addedAlcohol"> -->

    <div id="set_ingredient_block" style="display:none">
      <label class="item item-input">
        <span class="input-label">New Amount</span>
        <input type="tel" id="setIngredient">
      </label>
      <br>
      <button ng-click="setIngredient()" class="button"> Set </button>
      <br>
      <br>
      <button ng-click="removeIngredient()" class="button button-assertive"> Finished! </button>
    </div>

    <div id="my_stock" style="display:none">
      <ul style="list-style-type:disc">
        <li ng-repeat="ingredient in all_alcohol" ng-if="ingredient.ammount>0">
          <span>{{ingredient.name}} - {{ingredient.ammount}} L</span>
        </li>
        <li ng-repeat="ingredient in all_mixers" ng-if="ingredient.ammount>0">
          <span>{{ingredient.name}} - {{ingredient.ammount}} L</span>
        </li>
      </ul>
    </div>

    <div id="all_ingredients" style="display:none">
      <ul style="list-style-type:disc">
        <li ng-repeat="ingredient in all_alcohol">
          <span>{{ingredient.name}}</span>
        </li>
        <li ng-repeat="ingredient in all_mixers">
          <span>{{ingredient.name}}</span>
        </li>
      </ul>
    </div>

  </ion-content>
</ion-view>
