<ion-view title="Stock" id="page2">
  <ion-content padding="true" class="has-header">
    <ul style="list-style-type:disc">
    	<li ng-repeat="drink in stock">
    		<span>{{drink}}</span>
            <!-- Edit remaining amount -->
            <!-- Delete drink -->
    	</li>
    </ul>

    <input type="text" id="searchedAlcohol">

    <button ng-click="searchAlcohol()"> Search </button> 

    <input type="text" id="addedAlcohol">

    <input type="number" id="addedAAmmount">

    <button ng-click="addAlcohol()"> Add Booze </button> 

    <input type="text" id="addedMixer">

    <input type="number" id="addedMAmmount">

    <button ng-click="addMixer()"> Add NAB </button> 

    <input type="text" id="removedAlcohol">

    <button ng-click="removeAlcohol()"> Remove </button> 
    <!-- Need to prompt for amount as well -->

  </ion-content>
</ion-view>