<style>
    button {
      background-color: #DB7705;
      color: white;
      font-weight: bold;
    }
    input {
      border-style: solid;
      border-width: 2px;
      border-color: black;
    }
    ion-tabs {
      background-color: #1a66ff;
      color: white;
    }
    ion-footer-bar {
      background-color: #1a66ff;
    }
    h3 {
      text-align: center;
      color: white;
    }
    .rate_number {
      width: 50px;
    }
    span {
      color: black;
    }
</style>