<style>
    button {
      background-color: #DB7705;
      color: white;
      font-weight: bold;
    }
    input {
      border-style: solid;
      border-width: 2px;
      border-color: black;
    }
    ion-tabs {
      background-color: #42f448;
      color: white;
    }
    ion-footer-bar {
      background-color: #1a66ff;
    }
    h4 {
      text-align: center;
      color: black;
    }
    h5 {
      text-align: center;
      color: black;
    }
    .rate_number {
      width: 50px;
    }
    span {
      color: black;
    }
    div {
      color: black;
    }
    .test-class {
      background-color: #f47442;
    }
    #rate_btn {
      text-align: center;
    }
    #favorite_label {
      text-align: center;
    }
    #unfavorite_btn {
      text-align: center;
    }
    #favorite_btn {
      text-align: center;
    }
    #details_btn {
      text-align: center;
    }
    #ingredients_block{
      text-align: center;
    }
    #set_ingredient_block{
      text-align: center;
    }
    #my_stock{
      text-align: center;
    }
    #all_ingredients{
      text-align: center;
    }
    #displayed_drinks{
      text-align: center;
    }
    #recommendations_block{
      text-align: center;
    }
</style>